body {
    margin: 0%;
    box-sizing: border-box;

}

.container {
    width: 70vw;
    height: 99vh;
    padding-top: 0.8vh;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    box-sizing: border-box;
}

.container .image {
    width: 65%;
    height: 100%;
}

.container .form {
    width: 35%;
    height: 100%;
    background-color: aquamarine;
    display: flex;
}

.container .form div {
    width: 100%;
    /* border: 1px solid black; */
    align-self: center;
    margin: 0 auto;
    text-align: center;
}


.loginForm {
    /* border: 1px solid black; */
    width: 100%;
    height: 40%;
}

.loginForm input {
    width: 65%;
    border: none;
    margin: 2%;
    /* height: 35px; */
    border-radius: 5px;
    padding: 2.5%;
    /* color: lightgrey; */
    letter-spacing: 2px;
}

.loginForm p {
    margin: 0;
}

.loginForm button {
    background-color: rgba(0, 0, 0, 0.645);
    color: white;
    padding: 1.5% 3% 1.5% 3%;
    margin: 1%;
    border-radius: 5px;
    letter-spacing: 2px;
    cursor: pointer;
}


.registerForm input {
    width: 65%;
    border: none;
    margin: 2%;
    border-radius: 5px;
    padding: 2.5%;
    letter-spacing: 2px;
}

.registerForm button {
    background-color: rgba(0, 0, 0, 0.645);
    color: white;
    padding: 2% 4% 2% 4%;
    margin: 2%;
    border-radius: 5px;
    letter-spacing: 2px;
    cursor: pointer;
}

.mobileBrowser {
    display: none;
}

.container .form .instLogoContainer {
    display: none;
}

@media only screen and (max-width: 600px) {
    .mobileBrowser {
        display: contents;
        padding: 5%;
    }

    .container .image {
        display: none;
    }

    .container {
        width: 100vw;
        height: 100vh;
        padding-top: 0;
        display: block;
        /* flex-direction: row;
        margin: 0 auto;
        box-sizing: border-box; */
    }

    .container .form {
        display: block;
        width: 100%;
        height: 100%;
        background-color: aquamarine;
        display: flex;
    }

    .container .form .instLogoContainer {
        display: block;
        text-align: center;
    }

    .container .form .instaLogo {
        align-self: center;
        width: 100px;
        height: 50px;
    }
    .desktopBrowser{
        display: none;
    }
}