.Container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    inset: 0;
    backdrop-filter: blur(15px);
    background-color: rgba(0, 0, 0, 0.7);
}

.postForm {
    padding: 3% 5% 3% 5%;
    align-self: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    background-image: linear-gradient(45deg, rgba(0, 0, 255, 0.262), rgba(255, 0, 0, 0.305));
    width: 25%;
    /* height: 60%; */
    border-radius: 10px;
    flex-direction: column;
}



.postForm label {
    margin-bottom: 1%;
    color: antiquewhite;}

.top {
    width: 100%;
    margin-bottom: 5%;
}

.bottom {
    width: 100%;
    margin-top: 5%;
}

.FormHeading {
    text-align: center;
    color: antiquewhite;
    margin-top: 0;
    font-size: 28px;
    font-weight: 900;
    letter-spacing: 3px;
    margin-bottom: 5%;
}

.postInp {
    margin-bottom: 8%;
    border-radius: 5px;
    border: none;
    padding: 5px;
}

.chooseFile {
    padding: 1px;
    border: none;
}

.lastPostInp {
    margin-bottom: 2%;
    border-radius: 5px;
    border: none;
    padding: 5px;
}

.submit {
    margin-top: 5%;
    cursor: pointer;
    align-self: center;
    color: white;
    font-weight: bold;
    letter-spacing: 3px;
    border-radius: 5px;
    width: 40%;
    padding: 7px;
    background-color: rgb(112, 161, 178);
}


@media only screen and (max-width: 600px) {
    .card {
        width: 100%;
    }

    .postForm {
        width: 80%;
    }
}